@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  /* min-width: 100vw; */
}

body {
  height: 100%;
  width: 100%;
  display: flex;
}

button:hover,
a:hover {
  cursor: pointer;
}
